DEFAULT Version17
UI menu.c32
PROMPT 0
TIMEOUT 600
ONTIMEOUT Version17
F1 f1
F2 f2
F3 f3
F4 f4

MENU TITLE TinyCore
MENU MARGIN 10 
MENU VSHIFT 5
MENU ROWS 5
MENU TABMSGROW 14
MENU TABMSG Press ENTER to boot, TAB to edit, or press F1 for more information.
MENU HELPMSGROW 15
MENU HELPMSGENDROW -3
MENU AUTOBOOT BIOS default device boot in # second{,s}...

LABEL Version17
MENU LABEL Boot TinyCore-17
TEXT HELP
Boot TinyCore with Embedded X/GUI extensions.
ENDTEXT
KERNEL /V17/boot/vmlinuz
INITRD /V17/boot/core.gz
APPEND loglevel=3 tce=LABEL=TC17/V17/tce waitusb=5:LABEL=TC17
